<div class="container">
  <h2>Lista de Usuarios</h2>
  <hr>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Nick</th>
        <th>Contraseña</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarioService.usuarios">
        <td>{{usuario.idUsuario}}</td>
        <td>{{usuario.nick}}</td>
        <td>{{usuario.contrasena}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
